# ignore everything
/*

# except for these files...
!README.md
!LICENSE
!setup.sh
!Repos
!Downloads
!Pictures
!Videos
!Documents
!.config
!.bashrc
!.xprofile
!.wallpapers
!.gtkrc-2.0
!.pkg
!.gitignore
